.cta{
    background-image: url('../images/Rectangle 4164.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    color: white;

    &__content{
        width: 35%;
        margin-left: 15%;
        padding-top: 100px;
        padding-bottom: 150px;
    }

    &__subtitle{
        margin-left: 20%;
        font-family: 'edu sa beginner';
        font-size: 28px;
    }

    &__button{
        background-color: $blue;
        border: none;
        color: white;
        padding: 10px 15px;
        margin-top: 20px;
    }

}