nav{
    width: 80%;
    margin: auto;
    padding: 10px;
    overflow: hidden;
    display: flex;   
    justify-content: space-between; 
    align-items: center;
}
nav div a{
    font-size: 16px;
    font-weight: 500;
    &:hover{ 
        color: $blue;
        text-decoration: underline;
    }
    
    &:active{
        color: $blue;
        text-decoration: underline;
    }

}

nav div a:not(:last-child){
    margin-right: 90px;
}

nav div a:last-child{
    background: $blue;
    color: white;
    padding: 5px 15px;
}