nav{
    width: 80%;
    margin: auto;
    padding: 10px;
    overflow: hidden;
    display: flex;   
    justify-content: space-between; 
    align-items: center;
}
nav div a{
    font-size: 16px;
    font-weight: 500;
    &:hover{ 
        color: $blue;
        text-decoration: underline;
    }
    
    &:active{
        color: $blue;
        text-decoration: underline;
    }

}

nav div a:not(:last-child){
    margin-right: 90px;
}


/* Dropdown container */
.dropdown {
    display: inline-block;
}

/* Inhoud van de dropdown */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links in de dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    display: block;
    
    
}

/* Zichtbaar maken van de dropdown wanneer de knop wordt gehoverd */
.dropdown:hover .dropdown-content {
    display: block;
}

.dropbtn {

    cursor: pointer;
    display: flex;
    align-items: center; /* Voegt verticale uitlijning toe */
}