<div class="footer">
    <hr class="footer__line">
    <div class="footer__container">
        <div class="footer__container__item">
            <h2 class="footer__container__item__title">Wil je een afspraak maken? </h2>
            <p class="footer__container__item__text">Je bent heel welkom in mijn praktijk in Lier (koningshooikt)</p>
            <button class="footer__container__item__button">MAAK EEN AFSPRAAK</button>

            <div class="footer__container__item__socials">
                <a class="footer__container__item__socials__button" href="">
                    <iconify-icon icon="carbon:location" style="color: white;" width="20" height="20"></iconify-icon>
                    <span class="tooltip">Rubensstraat 25, 2830 Hemiksem</span>
                </a>
                <a class="footer__container__item__socials__button" href="">
                    <iconify-icon icon="material-symbols:mail-outline" style="color: white;" width="20" height="20"></iconify-icon>
                    <span class="tooltip">isabel.vandeneynde@hotmail.com</span>
                </a>
                <a class="footer__container__item__socials__button" href="">
                    <iconify-icon icon="iconoir:phone" style="color: white;" width="20" height="20"></iconify-icon>
                    <span class="tooltip">0474648539</span>
                </a>
            </div> 
        </div>

        <div class="footer__container__item">
            <h2 class="footer__container__item__title">Voet Gevoel als geschenk? </h2>
            <p class="footer__container__item__text">Dat kan zeker! Schenk meer dan een uur me-time, balans en een Voet Gevoel</p>
            <button class="footer__container__item__button">ONTDEK GESCHENKBON</button>

            <div class="footer__container__item__socials">
                <a class="footer__container__item__socials__button" href=""><iconify-icon icon="streamline:instagram-solid" style="color: white;" width="20" height="20"></iconify-icon></a>
                <a class="footer__container__item__socials__button" href=""><iconify-icon icon="ri:facebook-fill" style="color: white;" width="20" height="20"></iconify-icon></a>
               
            </div> 
        </div>

        <img class="footer__container__img" src="./resources/images/img_footer.png" alt="">
        
    </div>  
    
    <div class="footer__rights">
        <p class="footer__rights__text">© VOET GEVOEL</p>
        <p class="footer__rights__text"><a href="#">PRIVACY</a> | <a href="#">TERMS</a> | <a href="#">SITE CREDIT</a></p>
    </div>
</div>