<nav>
   
    <img src="./resources/images/voetgevoel_logo 1.png" alt="">

    <div id="navbar" class="">
        <a href="./home.php"> Home</a>
        <a href="./steentje.php">0ver Mij</a>
        <div class="dropdown">
            <a href="#" class="dropbtn">Behandelingen <iconify-icon icon="gridicons:dropdown" style="color: black; " width="20" height="20"></iconify-icon></a>
            <div class="dropdown-content">
                <a href="#">Voetreflexologie</a>
                <a href="#">Energetische Vertebraal Correctie</a>
                <a href="#">Psychozone harmonisering</a>
            </div>
        </div>
        <a href="./contact.php"> Tarieven</a>
        <a href="./info.php"> Contact</a>              
    </div>
</nav>