.over_mij{
    width: 80%;
    margin: auto;
    &__title{
        color: $primary;
    }
    &__line{
        border: 1px solid $secondary;
        width: 20%;
        margin-left: -20px;
        margin-bottom: 20px;
    }

    &__text{
        margin-top: 20px;
    }

    &__span{
        color: $secondary;
    }
    &__img{
       width: 100%;
    }
}

@media screen and (min-width: 1024px) {
    .over_mij{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 100px;

        &__img{
            margin-top: 50px;
        }
       
    }
}