.cta {
    background-image: url('../images/Rectangle 4164.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    margin-top: -20px;

    &__content {
        width: 80%;
        margin-left: 15%;
        padding-top: 100px;
        padding-bottom: 150px;
    }

    &__subtitle {
        margin-left: 20%;
        font-family: 'edu sa beginner';
        font-size: 28px;
    }

    &__button {
        background-color: $primary;
        transition: background-color 0.3s ease;
        border: none;
        color: white;
        padding: 10px 15px;
        margin-top: 20px;
    }

    &__button:hover {
        background-color: $primaryHoverColor;
    }

}

@media screen and (min-width: 1024px) {
    .cta {
        margin-top: 50px;

        &__content {
            width: 35%;
        }
    }

}