.navMobile {
    width: 90%;
    margin: auto;
    padding: 10px;
    overflow: hidden;
}

.navDesctop {
    display: none;
}

.navMobile .header {
    display: flex;
    justify-content: space-between;
    /* Om de elementen te verdelen, de afbeelding zal naar rechts worden geduwd */
    align-items: center;
}



.navMobile img {
    width: 80%;
    max-width: 250px;
}


#navbarMobile {
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, max-height 1s ease-in-out;
    transform: translateY(-100%);
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    pointer-events: none;
    text-align: center;
    font-size: 120%;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: transparent;
}

#navbarMobile.active {
    transform: translateY(0);
    opacity: 1;
    max-height: 500px;
    /* of de hoogte die je wilt hebben */
    pointer-events: auto;
}

#navbarMobile:not(.active) {
    transition: transform 5s ease-in-out, opacity 5s ease-in-out, max-height 1s ease-in-out;
    /* Aangepaste overgangsduratie voor deactiveren */
    max-height: 0;
    opacity: 0;
    pointer-events: none;
}


#navbarMobile a {
    display: block;
    margin-bottom: 15px;
    border-bottom: 1px solid transparent;
    padding: 3px 6px 3px 6px;
}

#navbarMobile a:hover {
    text-decoration: underline;
    transition: 0.3s ease-in-out;
}

#navbarMobile .dropdown-content {
    display: none;
}


@media screen and (min-width: 1024px) {
    .navMobile {
        display: none;
    }

    .navDesctop {
        width: 80%;
        margin: auto;
        padding: 10px;
        overflow: visible;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    .navDesctop img {
        width: 100%;
        max-width: 300px;
        position: absolute;
        z-index: 10;
        top: 10px;

    }


    #navbar {
        display: flex;
        margin-top: 0px;
        flex-direction: row;
    }

    #navbar a {
        margin-top: 20px;
        margin-bottom: 0;
    }

    #navbar a:not(:last-child) {
        margin-right: 50px;
    }

    .nav_cta {
        color: white;
        background-color: $primary;
        height: 25px;
        padding: 5px 10px 5px 10px;
        position: relative;
        top: -5px;
    }

    #navbar .dropdown-content a {
        display: flex;
        align-items: center;
        transition: background-color 0.3s ease;
        padding: 5px;

    }

    #navbar .dropdown-content a:hover {
        background-color: $primary;
        text-decoration: none;
        color: white;

    }

    #navbar .dropdown-content {
        animation: fadeIn 1s ease;
        display: none;
        z-index: 100;
        position: absolute;

    }

    #navbar .dropbtn {
        display: flex;
        align-items: center;
    }

}