.treatment {
    &__card {
        border: 1px solid black;
        margin-top: 50px;
        width: 100%;
        margin-bottom: 20px;
        align-items: center;
        text-align: center;

        margin-bottom: 20px;
        display: flex;
        flex-direction: column;

        &__img {
            width: 100%;
        }

        &__title {
            text-align: center;
            height: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $primary;
            height: 100px;

        }

        &__line {
            border: 1px solid $primary;
            width: 25%;
            margin: auto;
            margin-top: -20px;
            margin-bottom: 20px;

        }

        &__text {
            text-align: center;
            flex-grow: 1;

        }

        &__button {
            border: none;
            background-color: $primary;
            transition: background-color 0.3s ease;
            color: white;
            padding: 10px 20px;
            margin-top: auto;
            display: block;
            align-self: center;

        }

        &__button:hover {
            background-color: $primaryHoverColor;

        }
    }

}

@media screen and (min-width: 1024px) {
    .treatment {
        &__card {
            width: calc(33.33% - 40px);
            /* 33.33% om drie kaarten naast elkaar te plaatsen, 40px voor de marge (20px aan beide zijden) */
            text-align: center;
            margin-bottom: 20px;

            &__img {
                width: 80%;
            }

            &__title {
                width: 80%;
                margin: auto;
            }

            &__line {
                width: 25%;
                margin: auto;
                margin-top: 0px;
                margin-bottom: 20px;
            }

            &__button {
                margin-top: auto;
            }
        }
    }

}