.treatments{
    width: 80%;
    margin: auto;
    margin-top: 350px;

    &__title{
        text-align: center;
    }
}

.treatment{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px; 
  
}